language: python
sudo: required
dist: xenial
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  - 3.7
#  - pypy3

before_install:
  - pip install --quiet coverage flake8 wheel

install:
  - make install

script:
  - make test

after_success:
  - bash <(curl -s https://codecov.io/bash)
